#second {
    height: 80vh;
    background-image: url(https:picsum.photos/id/31/1920/900);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.text {
    font-size: 100px;
    color: red;
}
