#third {
    height: 80vh;
    background-image: url(https:picsum.photos/id/32/1920/900);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}